// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
    height: 100%;
    padding-top: 35px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
//  z-index: 2;
}

#review_id {
  .glyphicon.glyphicon-star,
  .glyphicon.glyphicon-star-empty{
    font-size: 1.4em;
  }
  #rating_label.form-group {
    margin-bottom: 5px;
  }
  #review-value {
    position: relative;
    bottom: 2px;
    font-size: 16px;
  }
}

#shopping-card-circle {
  max-width: 17px;
    position: relative;
    left: -8px;
    bottom: 8px;
}

#shopping-icon {
  max-width: 25px;
}

.favorite-pink {
  background-color: #FF017E;
  color: white !important;
}

.addToCardIcon {
  border-radius: 0;
  background-color: #FF017E;
  border-color:   #FF017E;
  color: white;
}


.addToCardIcon:hover, .addToCardIcon:focus, .addToCardIcon:active, .addToCardIcon .active, .open>.dropdown-toggle .addToCardIcon {
  background-color: #BD005E;
  border-color: #BD005E;
  color: white;
  
}

.popover.fade, .popover-content { 
  width: 270px;
   //z-index: 3 !important; 

}

 .popover-title {
   width: 265px;
   //z-index: 3 !important; 
 }

 header#myCarousel {
     margin-top: -14px;
 }

.navbar-header img {
  max-width: 50px;
}