<div class="row">
    <div class="col-md-12">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        Anonymous
        <span class="pull-right">go</span>
        <p></p>
    </div>
</div>      