<div class="col-md-4 col-md-offset-4">
  <h1>Editing Product</h1>
</div>

<%= render 'form', product: @product %>

<div class="col-md-4 col-md-offset-4">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', manage_products_path %>
</div>