<div class="row">
    <div class="col-md-12">
        <%= render 'reviews/stars', rating: review.rating.to_int, show_rating: false %>

        <%= review.user.try(:email) || 'Anonymous' %>
        <span class="pull-right"><%= time_ago_in_words review.created_at %> ago</span>
        <p><%= review.text %></p>
    </div>
</div>      